/* Font Name-Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* color */
.Dark-01{
   color: #131313; 
}
.Dark-02{
   color: #424242; 
}
.Dark-03{
    color: #727272; 
 }
.Dark-04{
    color: #A1A1A1; 
 }
.Dark-05{
    color: #D0D0D0; 
 }
.Dark-06{
    color: #E7E7E7; 
 }
.Dark-07{
    color: #F3F3F3; 
 }

.bg-color{
 background-color: rgba(255, 144, 14, 0.1);
 }


/* shared styles */
.display-flex{
    display: flex;
}



/* <nav class="nav-bar display-flex"> */
.nav-bar{
    justify-content: space-between;
}
.brand{

}

.nav-item{
    list-style: none;
    margin-right: 30px;

}

.nav-link{
    text-decoration: none;
}

.nav-bar, .banner{
   max-width: 1440px; 
   margin: 0 auto;
}